@import "@styles/app.scss";

.content {
  // display: flex;
  // flex-direction: column;
  width: 100% !important;
  overflow-x: hidden;
  // padding-inline: 335px;
  height: max-content;
  // min-height: 241px;
  // background-color: white;
  background-color: $white;
  // grid-column: span 12;
  // text-align: center;
  // @include breakpoint('md') {
  //   grid-column: 3 / 11;
  // }
  // @include breakpoint('xl') {
  //   grid-column: 4 / 10;
  // }
}

.grid {
  display: flex;
  background-color: $white;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-inline: 25vw;
  padding-bottom: 5px;
}
.boxButton {
  width: 100%;
  // padding-inline: 300px;
}

.gridContent {
  display: flex;
  flex-direction: column !important;
  height: max-content;
  background-color: $white;
  padding-inline: 25vw;
  // align-items: center;
  // align-content: center;
  justify-content: space-between;
  margin-top: 20px;
  padding-bottom: 20px;
}

.linkTerms {
  font-size: 12px !important;
  margin-top: 18px !important;
  color: $main-color !important;
  margin-left: 5px !important;
}

.textTerms {
  font-size: 12px !important;
  margin-top: 18px !important;
  padding-left: 5px;
}

.rowTerms {
  display: flex !important;
  padding-top: 5px;
}

.padding {
  padding-top: 40px;
}

.gridHoursSchedule {
  display: flex;
  flex-direction: column !important;
  height: max-content;
  background-color: $white;
  padding-inline: 25vw;
  // align-items: center;
  // align-content: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  //max-width: 80% !important;
}

.logo {
  height: 40px;
  padding-top: 10px;
}

.logoCard {
  height: 10px;
  margin-left: 5px;
}

.buttonHeader {
  cursor: pointer;
  border-radius: 30px;
}

.buttonHeader:hover {
  color: $main-color-dark;
  background-color: $main-color-light;
}

.icon {
  height: 30px;
}

.progressDiv {
  width: 100%;
  height: 4px;
  background-color: $grey-light;
}

.progressBar {
  width: 30%;
  height: 4px;
  background-color: $main-color;
}

.title {
  color: $black;
  margin-top: 50px !important;
  letter-spacing: 0px !important;
}

.select {
  margin-top: 40px !important;
  font-size: 16px !important;
}

.body {
  font-size: 16px;
}

.subtitle {
  font-size: 20px;
  color: $grey;
}

.dayText {
  font-size: 20px;
  color: $black;
  font-weight: 700;
  margin-top: 30px !important;
}

.buttonHour {
  margin-right: 24px !important;
  color: $black;
}

.callout {
  background-color: $main-color-light;
  margin-top: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 8px;
  padding-left: 15px;
  padding-right: 15px;
}

.buttonForward {
  display: flex;
  height: 70px;
  width: 70px;
  border-radius: 35px;
  cursor: pointer;
  background-color: $main-color;
  border: none !important;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  align-self: flex-end;
}

.author {
  font-size: 2.2rem;
  font-weight: lighter;
  letter-spacing: 0.05rem;
  text-transform: lowercase;

  a {
    color: $text-color;
    font-style: italic;
  }
}

.text {
  font-size: 16px;
  color: $black;
  font-weight: 700;
}
.textGrey {
  color: $grey;
}

.textBlack {
  color: $black;
}
.subtext {
  font-size: 16px;
  color: $grey;
  font-weight: 500;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.forms {
  width: 90%;
}

.spaceBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: fit-content;
}

.attachButton {
  font-size: 16px;
  color: $main-color;
  font-weight: 600;
  cursor: pointer;
}

.line {
  height: 1px;
  margin-top: 10px;
  background-color: $grey-light;
}

.paymentButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  border: 1.5px solid $grey-light;
  // border-color: $grey;
  border-radius: 8px;
  padding-inline: 30px;
  background-color: $white;
  height: 100px;
}

.paymentButton:hover {
  border: 1.5px solid $main-color !important;
}

.textButtonConfirm {
  font-size: 16px;
  color: $white;
  font-weight: 700;
}

.buttonConfirm {
  display: flex;
  border-radius: 8px;
  font-size: 16px !important;
  width: 100%;
  background-color: $main-color;
  align-items: center;
  font-weight: 700;
  cursor: pointer;
  padding-block: 20px !important;
  justify-content: center;
  // margin-top: 10px !important;
  text-transform: none;
}

.textCard {
  color: $grey;
  font-size: 15px;
  margin: 0 !important;
}

.creditCard {
  background-color: #e9ecf0;
  border-radius: 10px;
  width: fit-content;
  padding: 10px 20px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.hr {
  height: 2px;
  background-color: #b1b8cb66;
  margin-top: 10px;
  margin-bottom: 10px;
}

.labelText {
  font-size: 15px;
  color: $grey;
  margin-top: 10px;
  margin-bottom: 5px !important;
}

.spaceHorizontal {
  margin-right: 15px;
}

.rowCollumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: fit-content;
  width: 100%;
}

.marginTop {
  margin-top: 70px;
}

.logo {
  height: 60px;
  // position: absolute
}

.title {
  font-weight: 700;
  color: $black;
  font-size: 35px;
}

.fontInstructions {
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  text-align: center;

  color: $grey-medium;
  margin-bottom: 0px !important;
}

.buttonSmall {
  margin-top: 30px !important;
  height: 60px;
  padding: 5px 100px !important;
  border-radius: 8px;
  font-size: 14px !important;
}

.center {
  justify-content: center;
  display: flex;
  width: 100%;
}
.boxChooseDoctor {
  margin-top: 20px;
}
.buttonSlotAvaliable {
  border: 1.5px solid $main-color;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px !important;
}
.buttonSlotSelected {
  border: 1.5px solid $main-color;
  background-color: $main-color !important;
  border-radius: 5px;
  color: $white !important;
  cursor: pointer;
  margin-right: 10px !important;
}
.buttonSlotOcuppied {
  padding-inline: 10px;
  padding-block: 5px;
  color: $grey !important;
  text-decoration: line-through !important;
  border: none !important;
  border-radius: 5px;
  cursor: pointer;
}
.buttonSlotAvaliable:hover {
  background-color: $main-color-light;
}
.boxHours {
  display: flex;
  overflow-x: scroll;
  white-space: nowrap;
  margin-top: 10px;
}
.boxHours::-webkit-scrollbar{
  height: 5px;
  max-width: 20px !important;
}
.boxHours::-webkit-scrollbar-track {
  background-color: $white;
  background-clip: content-box;
}
.boxHours::-webkit-scrollbar-thumb{
  background-color: $main-color;
  height: 10px !important;
}
