.participant {
  border-radius: 8px;
  // position: relative;
}

.remoteParticipantName {
  color: white;
}
.participantName {
  color: white;
  background-color: aqua;
  min-width: 100%;
  // margin-top: -65px;
  // padding-top: 10px;
  padding-left: 20px;
  z-index: 100;
  // position: absolute;
}
