@import '@styles/app.scss';

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;
  // padding-inline: 335px;
  height: max-content;
  // min-height: 241px;
  // background-color: white;
  background-color: $white;
  // grid-column: span 12;
  // text-align: center;
  // @include breakpoint('md') {
  //   grid-column: 3 / 11;
  // }
  // @include breakpoint('xl') {
  //   grid-column: 4 / 10;
  // }
}

.grid {
  display: flex;
  background-color: $white;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  padding-top: 15px;
  padding-inline: 335px;
  padding-bottom: 15px;
}

.gridContent {
  display: flex;
  flex-direction: column;
  height: max-content;
  background-color: $white;
  padding-inline: 335px;
  // align-items: center;
  // align-content: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

.logo {
  height: 40px;
}

.logoCard {
  height: 10px;
  margin-left: 5px;
}

.icon {
  height: 30px;
}

.progressDiv {
  width: 100%;
  height: 4px;
  background-color: $grey-light;
}

.progressBar {
  width: 30%;
  height: 4px;
  background-color: $green;
}

.title {
  font-weight: 700;
  color: $black;
  font-size: 40px;
  margin-top: 50px;
}

.select {
  margin-top: 40px;
  font-size: 16px;
}

.body {
  font-size: 16px;
}

.subtitle {
  font-size: 20px;
  color: $grey;
}

.dayText {
  font-size: 20px;
  color: $black;
  font-weight: 700;
  margin-top: 30px;
}

.buttonHour {
  margin-inline: 12px;
  color: $black;
}

.callout {
  background-color: $green-light;
  margin-top: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 8px;
  padding-left: 15px;
  padding-right: 15px;
}

.buttonForward {
  display: flex;
  height: 70px;
  width: 70px;
  border-radius: 35px;
  cursor: pointer;
  background-color: $green;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  align-self: flex-end;
}

.author {
  font-size: 2.2rem;
  font-weight: lighter;
  letter-spacing: 0.05rem;
  text-transform: lowercase;

  a {
    color: $text-color;
    font-style: italic;
  }
}

.text {
  font-size: 16px;
  color: $black;
  font-weight: 700;
}

.subtext {
  font-size: 16px;
  color: $grey;
  font-weight: 500;
  margin-top: -20px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.forms {
  width: 90%;
}

.spaceBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: fit-content;
}

.attachButton {
  font-size: 16px;
  color: $green;
  font-weight: 600;
  cursor: pointer;
}

.line {
  height: 1px;
  margin-top: 10px;
  background-color: $grey-light;
}

.paymentButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1.5px solid $grey-light;
  // border-color: $grey;
  border-radius: 8px;
  padding-inline: 30px;
  background-color: $white;
  height: 100px;
}

.paymentButton:hover {
  border: 1.5px solid $green !important;
}

.textButtonConfirm {
  font-size: 16px;
  color: $white;
  font-weight: 700;
}

.buttonConfirm {
  display: flex;
  border-radius: 8px;
  background-color: $green;
  align-items: center;
  cursor: pointer;
  padding-block: 20px;
  justify-content: center;
  margin-top: 40px;
}

.textCard {
  color: $grey;
  font-size: 15px;
  margin: 0 !important;
}

.creditCard {
  background-color: #e9ecf0;
  border-radius: 10px;
  width: fit-content;
  padding: 10px 20px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.hr {
  height: 2px;
  background-color: #b1b8cb66;
  margin-top: 10px;
  margin-bottom: 10px;
}

.labelText {
  font-size: 15px;
  color: $grey;
  margin-top: 10px;
  margin-bottom: 5px !important;
}

.spaceHorizontal {
  margin-right: 15px;
}

.rowCollumn {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-height: fit-content;
  flex-direction: column;
  width: 100%;
}

.marginTop {
  margin-top: 50px;
}

.logo {
  height: 60px;
  // position: absolute
}

.title {
  font-weight: 700;
  color: $black;
  font-size: 35px;
}

.fontInstructions {
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  max-width: 700px;
  color: $grey-medium;
  margin-bottom: 0px !important;
}

.buttonSmall {
  margin-top: 30px !important;
  height: 60px;
  padding: 14px 100px;
  border-radius: 8px;
  font-size: 20px !important;
  background-color: $green;
  color: $white;
}

.buttonSmall:hover {
  background-color: $green-dark;
}
