@import "@styles/app.scss";

.content {
  display: flex;
  flex-direction: column;
  width: 10%;
  height: max-content;
}

.title {
  font-weight: 700;
  color: $black;
  font-size: 30px;
  margin-top: 0px;
  // margin-bottom: 20px !important;
}

.cardGrey {
  padding: 30px;
  background-color: $grey-light;
  border-radius: 10px;
  margin: 20px;
  margin-top: 0px;
  color: white;
}

.menuBar {
  background-color: white;
}

.subtitle {
  font-size: 20px;
  color: $grey-medium;
}

.subtitleText {
  font-size: 15px;
  color: $grey-medium;
  margin: 0 !important;
}

.boldTitle {
  font-size: 20px;
  color: $black;
  margin-bottom: 0 !important;
  font-weight: 700;
}

.container {
  display: block;
  padding-block: 5vh;
  padding-inline-start: 3vw;
  padding-inline-end: 6vw;
}

.cardConsult {
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
  border-radius: 9px;
  padding: 20px;
  margin-bottom: 20px;
}

.textConsult {
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  color: $black;
}

.textdetails {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: $grey-medium;
  margin: 0 !important;
}

.textLinkDetails {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: $main-color;
  margin: 0 !important;
  margin-top: 10px !important;
}

.hr {
  height: 2px;
  background-color: #b1b8cb66;
  margin-top: 0;
  margin-bottom: 10px;
}

.textInfo {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  color: $grey-medium;
  margin-top: 10px;
  max-width: 300px;
}

.textButtonConfirm {
  font-size: 16px !important;
  color: $white;
  font-weight: 700 !important;
}

.buttonConfirm {
  display: flex;
  border-radius: 8px;
  background-color: $main-color;
  align-items: center;
  cursor: pointer;
  padding-block: 10px;
  justify-content: center;
}

.buttonSchedule {
  display: flex;
  border-radius: 8px;
  background-color: $main-color;
  cursor: pointer;
  padding: 10px;
  width: fit-content;
}

.alignCenter {
  justify-content: center;
  display: flex;
}

.textCard {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: $black;
  margin-bottom: 0 !important;
  white-space: nowrap;
  width: 10em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.textRespond {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: $main-color;
  margin: 0 !important;
}

.alignRight {
  display: flex;
  justify-content: flex-end;
}

.titleWhite {
  font-weight: 700;
  font-size: 25px;
}

.subtitleWhite {
  font-size: 18px;
}

.logoCalendar {
  width: 100%;
  max-width: 300px;
}

.row {
  display: flex;
}

.rowSpace {
  display: flex;
  flex-direction: row;
  align-items: center;
  // justify-content: space-between;
  margin-right: 30px;
  margin-top: 30px;
}

.space {
  margin-left: 10px;
}

.cardBlack {
  background: #636d72;
  display: flex;
  box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  padding-block: 20px;
  padding-inline: 30px;
  max-width: 50vw;
}

.textWhite {
  color: $white;
  font-weight: 500;
  font-size: 14px;
  margin: 0 !important;
}

.textBigWhite {
  color: $white;
  font-weight: 700;
  font-size: 28px;
  margin: 0 !important;
}

.circleIcon {
  background-color: #bcc4d0;
  padding: 10px;
  margin: 5px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.grid {
  margin-top: 20px;
  border: none;
}

.headerMenu {
  font-family: $font;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: $grey;
  border: none;
}

.cell {
  font-size: 10px;
  color: $black;
  font-weight: 600;
}

.hourInitial {
  font-weight: 700;
  font-size: 12px;
  color: $black;
  margin-bottom: 0 !important;
}

.hourFinal {
  font-weight: 700;
  font-size: 11px;
  color: $grey;
  margin-bottom: 0 !important;
}

.borderPurple {
  border-right: #c19af8;
  border-radius: 5px;
  border-style: solid;
  padding-right: 10px;
}

.textDuration {
  font-weight: 700;
  font-size: 7px;
  margin-bottom: 0px !important;
  color: $grey;
}

.tagDuration {
  background-color: $grey-light;
  border-radius: 10px;
  display: flex;
  padding: 5px;
  height: 20px;
  margin: 6px;
}
.tag {
  padding: 4px 15px !important;
  width: fit-content;
  top: 64px;
  background: #d9e5f0;
  border-radius: 10px;
  color: $main-color;
  margin-left: 10px !important;
  margin-bottom: 10px;
}

.textSimple {
  font-size: 15px;
  color: $black;
  margin-bottom: 0px !important;
}

.textTag {
  background: #b9ffdd;
  color: #0db564;
  padding: 5px 20px;
  border-radius: 15px;
  margin-bottom: 0 !important;
  height: 25px;
  margin-left: 10px;
}

.textDay {
  color: $main-color;
  font-weight: 700;
  font-size: 18px;
}

.textMonth {
  color: $black;
  font-weight: 700;
  font-size: 17px;
  margin: 0px 7px;
}

.titleCard {
  color: $grey;
  font-size: 11px;
  margin-bottom: 0px !important;
}
