@import "@styles/app.scss";


.container {
  width: 100% !important;
  // height: 100vh !important;
  //flex-direction: row-reverse !important;
}

.containerRow {
  // width: 100% !important;
  // display: inline flex !important;
  // overflow-y: hidden !important;
}

.containerRowMobile {
  // width: 100% !important;
  // display: flex !important;
  // flex-direction: row-reverse !important;
  // overflow-y: hidden !important;
}

.iconReturn {
  font-size: 30px !important;
}

.title {
  // font-weight: 700 !important;
  color: $black !important;
  // font-size: 35px !important;
  margin-bottom: 0px !important;
}
.errorMessage {
  color: #ff0a48 !important;
  font-size: 10px !important;
}

.imgContainer {
  height: 100vh !important;
  background-image: url("../../../public/bg_createAccount.png");
  background-size: cover !important;
  background-position: center !important;
  // position: fixed !important;
  // width: calc(100vw) !important;
}

.logo {
  // height: 60px;
}

.logoCenter {
  height: 40px;
  align-items: center;
  //display: block !important;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  max-height: fit-content !important;
  justify-content: space-between !important;
}

.rowSimple {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  max-height: fit-content !important;
}

.marginTop {
  margin-top: 70px !important;
}

.rowCollumn {
  display: flex !important;
  align-items: center !important;
  max-height: fit-content !important;
  flex-direction: column !important;
  width: 100% !important;
}

.rowInput {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  max-height: fit-content !important;
}

.rowInputAdress {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  max-height: fit-content !important;
  max-width: 91% !important;
}

.subtitle {
  font-size: 14px !important;
  color: $grey !important;
}

.inputTitle {
  font-size: 16px !important;
  color: $grey !important;
  margin-bottom: 5px !important;
  margin-top: 15px !important;
}

.inputCupom {
  padding-block: 18px !important;
  padding-inline: 20px !important;
  border-radius: 8px !important;
  width: 100% !important;
  border: 1px solid $grey-light !important;
  font-size: 16px !important;
  color: $black !important;
  margin-top: 0px !important;
}

.inputBlue {
  padding-block: 20px !important;
  padding-inline: 20px !important;
  border-radius: 8px !important;
  margin-top: 20px !important;
  width: 100% !important;
  border: 1px solid $green !important;
  font-size: 16px !important;
  color: $black !important;
}
.inputBlue:focus {
  outline: none !important;
  border: 2px solid $green !important;
}

.inputCupom:focus {
  outline: none !important;
  border: 2px solid $green !important;
}

.inputCupom::placeholder {
  color: $grey !important;
  font-size: 16px !important;
  font-family: "Nunito" !important;
}

.button {
  margin-top: 30px !important;
  width: 100% !important;
  margin-bottom: 30px !important;
  height: 60px !important;
  border-radius: 8px !important;
  font-size: 14px !important;
}

.iconEye {
  margin-left: -40px !important;
  cursor: pointer !important;
  font-size: 20px !important;
  color: $grey !important;
}

.forgotPassword {
  font-size: 14px !important;
  color: $green !important;
  margin-bottom: 0px !important;
  margin-top: 8px !important;
  font-weight: 600 !important;
  align-self: flex-end !important;
}

.forgotButton {
  align-self: flex-end !important;
  margin-right: 95px !important;
  cursor: pointer !important;
}

.loginGoogleButton {
  margin-top: 10px !important;
  width: 85% !important;
  height: 60px !important;
  border-radius: 8px !important;
  border-width: 1.5px !important;
  font-size: 14px !important;
  color: $black !important;
  font-weight: 700 !important;
  align-items: center !important;
  border: 1px solid #dadee6 !important;
  box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.15) !important;
}

.line {
  background-color: $grey-light !important;
  height: 1px !important;
  max-width: 85% !important;
  margin-top: 10px !important;
}

.subtitle {
  font-size: 20px !important;
  color: $grey !important;
  width: 85% !important;
}

.iconReturn {
  margin: 40px 0 !important;
}

.warning {
  color: $grey-medium !important;
  font-size: 12px !important;
  margin-top: 10px !important;
}

.rowTerms {
  display: flex !important;
  padding-top: 25px;
  align-items: center;
}

.textTerms {
  font-size: 12px !important;
  padding-left: 5px;
}

.textNotification {
  font-size: 12px !important;
  padding-top: 10px !important;
}

.link {
  font-size: 20px !important;
  color: $green !important;
  margin-left: 2px !important;
}

.linkTerms {
  font-size: 12px !important;
  margin-top: 18px !important;
  color: $green !important;
  margin-left: 5px !important;
}

.rowLogin {
  display: flex !important;
  justify-content: flex-end !important;
  align-items: center;
  margin-bottom: 0px !important;
}

.textLogin {
  font-size: 14px !important;
  margin-top: 18px !important;
}

.linkLogin {
  margin-top: 20px !important;
  color: $green !important;
  padding-left: 6px !important;
  font-size: 12px !important;
}

.fontInstructions {
  // font-weight: 500 !important;
  // font-size: 20px !important;
  line-height: 27px !important;
  text-align: center !important;
  max-width: 1000px !important;
  color: $grey-medium !important;
  margin-bottom: 0px !important;
  padding-left: 30px;
  padding-right: 30px;
}

.textLater {
  font-weight: 600 !important;
  font-size: 20px !important;
  line-height: 27px !important;
  display: flex !important;
  align-items: center !important;
  color: $grey-medium !important;
}

.buttonSmall {
  margin-top: 30px !important;
  height: 60px !important;
  padding: 14px 100px !important;
  border-radius: 8px !important;
  font-size: 20px !important;
  background-color: $green !important;
  color: $white !important;
}

.alignCircleButton {
  // text-align: end !important;
  display: flex;
  justify-content: flex-end;
  margin-top: 100px !important;
}

.buttonCircle {
  margin-top: 30px !important;
  border-radius: 50% !important;
  padding: 10px !important;
  font-size: 14px !important;
  // background-color: $green !important;
  width: fit-content !important;
  background-color: $green;
  color: $green;
  border-color: $green;
}

.buttonRounded {
  margin-top: 30px !important;
  border-radius: 50px !important;
  padding: 5px 20px !important;
  font-size: 16px !important;
  background-color: $green;
  color: $green;
  border-color: $green;
}

.rowTopRight {
  display: flex !important;
  justify-content: flex-end !important;
  padding: 20px !important;
  width: 80% !important;
}

.progressDiv {
  width: 100% !important;
  height: 4px !important;
  background-color: $grey-light !important;
}

.progressBar {
  height: 4px !important;
  background-color: $green !important;
}

.header {
  display: flex !important;
  justify-content: space-between !important;
}

.grid {
  display: flex;
  background-color: $white;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  padding-block: 10px;
  padding-inline: 25vw;
}
.boxHeader {
  display: flex;
  background-color: $white;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  padding-block: 8px;
  padding-inline: 25vw;
}

.center {
  justify-content: center !important;
}

.content2 {
  display: flex !important;
  flex-direction: column !important;
  width: 100% !important;
  overflow-x: hidden !important;
  height: max-content !important;
  margin-top: 0px !important;
  background-color: $white !important;
  padding-inline: 10vw;
}

.content {
  display: flex !important;
  //flex-direction: column !important;
  overflow-x: hidden !important;
  margin-top: 30px !important;
  background-color: $white !important;
  flex-direction: column !important;
}

.marginTopFirsty {
  margin-top: 50px !important;
}

.buttonGroup {
  width: 100% !important;
  box-shadow: none !important;
}
.buttonHeader {
  cursor: pointer;
  border-radius: 30px;
}

.buttonHeader:hover {
  color: $green-dark;
}

.buttonGroupItem {
  margin-top: 30px !important;
  display: flex;
  cursor: pointer;
  width: 85% !important;
  height: 70px !important;
  padding-left: 20px !important;
  border-radius: 8px !important;
  align-items: center !important;
  background: #ffffff !important;
  border: 1.5px solid #dadee6;
}
.textButton {
  padding-left: 10px !important;
}

.logoGender {
  height: 19px !important;
  margin-right: 20px !important;
  margin-left: 1px !important;
}

.buttonGroupItem:hover {
  border: 1.5px solid #12CC7E;
}

.buttonGroupItem:hover .textButton {
  color: $green !important;
}
