.container {
  display: flex;
  flex-direction: column;
  background-color: $white;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.titleLobby {
  font-size: 35px;
}
.subtitle {
  font-size: 18px;
  color: $grey;
  font-weight: 500;
}
.form {
  padding-left: 100px;
}
.row {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.filesButton {
  display: flex;
  align-items: center;
  margin-top: 20px;
  outline: none;
  border: none;
  background-color: $white;
}
.body1 {
  font-family: $font;
  margin-left: 20px !important;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: $grey;
  margin-bottom: 0 !important;
}
.image {
  height: 20.96px;
  width: 20.14px;
}
.attachment {
  color: $blue;
  font-weight: 600;
}
.button {
  background-color: $blue;
  padding-inline: 90px;
  font-size: 16px;
  padding-block: 15px;
  color: white;
  border-radius: 25px;
  border: 0px;
  cursor: pointer;
  margin-top: 20px;
}
